includes:
    - vendor/larastan/larastan/extension.neon
    # Opcional: extensión de Carbon si la necesitas
    # - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - config
    level: 6
    tmpDir: storage/framework/cache/phpstan
